
:root {
    --gilroy-bold: 'Gilroy-Bold';
    --gilroy-Regular: 'Gilroy-Regular';
    --gilroy-Medium: 'Gilroy-Medium';
    --gilroy-SemiBold: 'Gilroy-SemiBold';
    --gilroy-heavy: 'Gilroy-Heavy';
    --gilroy-mediumItalic: 'Gilroy-MediumItalic';
    --gilroy-extraBold: 'Gilroy-ExtraBold';
    --bebasNeue-Regular: 'BebasNeue-Regular';
    --bebasNeue-Light: 'BebasNeue-Light'; 
    --white: #fff;
    --purpleish-blue: #7b41f9;
    --black: #232323;
    --black-two: #383838;
    --black-50: rgba(35, 35, 35, 0.5);
    --white-two: #f4f4f4;
}



@media  screen and (min-width: 1889px) {

    .navbar-nav{
        margin-left: 73px !important;
        margin-right: 73px !important;

    }

    .nav-link{
        padding-right: 60px !important;
    }

    .title{
        text-align: left !important;
    }

}

    
@media screen and (min-width: 1400px) and (max-width: 1888px) {
    
    .container{
        max-width: 1220px;
    }

    .navbar-phone{
        font-size: 22px;
        font-family: var(--gilroy-extraBold);
        line-height: 15px;
        color: var(--black);
        margin-left: 10px;
    }
    .nav-link{     
        margin-right: 47px !important;
        padding-right: 0px !important;
    }
    /* ВАЩ ПЛАТЕЖ */

    .input-wrapper{
        padding: 29px 15px 37px 21px !important;
    }

    .calculator-content-body-right   {
        justify-content: center;
    }
    
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
    .container {
        max-width: 1140px;
    }

    .navbar-nav{
        margin-left: 16px !important;
        margin-right: 16px !important;
    }
    
    .credit-btn{
        margin-left: 0px !important;
    }
    .nav-link{
        padding-right: 42px !important;
    }

    .privilege-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 69px 93px 
    }
    .card-title{
        font-size: 17px;
    }

    .header__info-btn,
    .header__info-description{
        z-index: 1;
    }

    .header__info-description{
        background: var(--white);
        border-radius: 10px;
        padding: 10px;
        font-weight: 600;
    }
    .list-group-item:nth-of-type(6){
        max-width: 795px !important;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .list-group-item::before{
        margin-left: 0px !important;
    }
    .accordion-body{
        padding: 0px !important;
        
    }

    /* ВАШ ПЛАТЕЖ */

    .final-result-item {
        margin-bottom: 0px !important;
    }
    
    .value{
        font-size: 27px;
    }
    .title-sum{
        font-size: 12px;
    }
    .input-wrapper{
        padding: 12px 7px 35px 19px;
    }
}

 @media screen and (min-width: 993px) and (max-width: 1199px){
    .container, .container-lg, .container-md, .container-sm {
        max-width: 960px;
    }
    .navbar-nav{
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .nav-link{
        padding-right: 36px !important;
        font-size: 15px;
    }
    .navbar-phone{
        font-size: 15px;
        margin-left: 8px !important;
    }  
    .pledge-list{
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        grid-gap: 200px;
    }
    .pledge-items{
        margin-right: 0px;
    }
    .main-title::after{
        left: 47.5%;
    }
    .privilege-cards{
        grid-template-columns: repeat(2, 1fr);
    }
    .document-cards{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 48px;
    }
    .document-title::after {
        top: 6.7%;
    }
    .list-group-item:nth-of-type(6){
        max-width: 795px !important;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .question__list-title{
        font-size: 14px;
    }
    .client__review-description{
        max-width: 780px;
    }
    .client__review-bgf{
        bottom: 60%;
    }
    .client__review-bgb{
        bottom: 39%;
    }
    .certificate-file{
        max-width: 195px;
        height: 275px;
    }
    .header__info-description{
        background-color: var(--white);
        padding: 10px;
        border-radius: 10px;
        opacity: 0.95;
    }
    .content__main-bg{
        top: 53%;
    }

    .input{
        display: flex;
        justify-content: space-around;
    }
    .input-wrapper{
        padding: 4px 0px 21px 28px;
    }
    .input-wrapper input[type="number"]{
        width: 90%;
    }
    .title{
        font-size: 17px;
    }
    input[type='range'] {
        width: 351px;
        border-radius: 10px;
        height: 0px;
        margin-right: 49px;
    }

    .credit-btn {
        padding: 19px 43px 17px;
        margin-left: 0px;
        width: 230px;
    }
    .value {
        font-size: 18px;
    }
    .title-sum {
        font-size: 15px;
    }
    .final-result-item {
        margin-bottom: 0px;
        margin-right: 31px;
    }
    .calculator-content-body-right{
        justify-content: center;
    }
    
    input[type=range]::-webkit-slider-thumb {
        background: var(--purpleish-blue);
        border: 2px solid cyan;
        border-radius: 50%;
        cursor: pointer;
        width:25px;
        height: 25px;
        -webkit-appearance: none;
        
      }
    .main-bg{
        width: 30%;
    }
    .privilege-cards{
        margin-left: 55px;
    }
    ul{
        padding-left: 0px !important;
    }

    .right-span-t{
        margin-left: 220px;
    }
    .right-span{
        margin-left: 320px;
    }
    .list-group-item::before{
        margin-left: 0px !important;
    }
    .accordion-body{
        padding: 0px !important;
        
    }
    .header__info-btn,
    .header__info-description{
        z-index: 1;
    }

    .header__info-description{
        background: var(--white);
        border-radius: 10px;
        padding: 10px;
        font-weight: 600;
    }
    .headermain-bg {
        
        margin-top: 177px;
        margin-left: -516px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px){
    .container, .container-md, .container-sm {
        max-width: 720px;
    }
    .pc-navbar{
        display: none !important;
    }
    .hidden-navbar{
        display: block !important;
    }
    .offcanvas-header,
    .navbar{
        background: var(--white-two);
        opacity: 0.9;
    }
    .offcanvas, .offcanvas-end, .show{

        width: 50% !important;
        background: var(--white-two) !important;
    }
    .navbar-nav,.justify-content-end {
        justify-content: flex-start !important;
        flex-direction: column !important;
    }
    .header-contact{
        display: flex;
        position: relative;
        left: 17%;
        align-items: center;
    }
    .nav-link{
        padding-right: 25px !important;
        font-size: 15px;
    }
    .navbar-phone{
        font-size: 15px;
        margin-left: 8px !important;
    }  
    .pledge-list{
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        grid-gap: 60px;
    }
    .pledge-items{
        margin-right: 0px;
    }
    .main-title::after{
        left: 47.5%;
    }
    .privilege-cards{
        grid-template-columns: repeat(2, 1fr);
    }
    .document-cards{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 48px;
    }
    .document-title::after {
        top: 6.7%;
    }
    .question__list-title{
        font-size: 11px;
    }
    .list-group-item:nth-of-type(6){
        max-width: 795px !important;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .client__review-description{
        max-width: 600px;
        font-size: 14px;
    }
    .client__review-bgf{
        bottom: 60%;
    }
    .client-title {
        font-size: 13px;
        line-height: 20px;
        margin-right: -23px;
    }
    .client__review-bgb{
        bottom: 39%;
    }
    .certificate-file{
        max-width: 135px;
        height: 210px;
    }
    .header__info-description{
        background-color: var(--white);
        padding: 10px;
        border-radius: 10px;
        opacity: 0.95;
    }
    .content__main-bg{
        top: 68% !important;
    }

    .header__right-content{
        margin-left: 8px;
        margin-top: 107px;
    }
    .header__right-circle{
        top: 50%;
    }
    .content__secondary-bg {
        width: 45%;
        top: 98%;
    }
    .content__main-bg{
        top: 66%;
        width: 100%;
    }
    .main-bg{
        width: 50%;
        position: absolute;
        
    }
    .card-description,
    .card-title{
        font-size: 15px;
    }
    .footer-subtitle,
    .footer__sub-subtitle{
        margin-top: 0px;
        font-size: 12px;
        line-height: 36px;
    }
    .footer-title{
        font-size: 13px;
    }

    .list-group-item::before{
        margin-left: 0px;
    }

    .main-btn{
        width: 219px;
    }

    .main-title::after {
        left: 46.5%;
    }
    .privilege-cards {
        margin-left: 0px !important;
    }

    /* ВАШ платеж */

    .content__main-bg{
        top: 53%;
    }

    .input{
        display: flex;
        justify-content: space-around;
    }
    .input-wrapper{
        padding: 5px 40px 21px 40px;
    }
    .input-wrapper input[type="number"]{
        width: 60%;
    }
    .title{
        font-size: 15px;
    }
    input[type='range'] {
        width: 218px;
        border-radius: 10px;
        height: 0px;
        margin-right: 49px;
    }

    .credit-btn {
        padding: 16px 7px 16px;
        margin-left: 0px;
        width: 176px;
        font-size: 13px;
    }
    .value {
        font-size: 18px;
    }
    .title-sum {
        font-size: 15px;
    }
    .final-result-item {
        margin-bottom: 0px;
        margin-right: 31px;
    }
    .calculator-content-body-right{
        justify-content: center;
    }
    
    .calculator-body{
        justify-content: initial;
    }

    input[type=range]::-webkit-slider-thumb {
        background: var(--purpleish-blue);
        border: 2px solid cyan;
        border-radius: 50%;
        cursor: pointer;
        width:25px;
        height: 25px;
        -webkit-appearance: none;
        
      }
    .main-bg{
        width: 30%;
    }
    .privilege-cards{
        margin-left: 55px;
    }
    ul{
        padding-left: 0px !important;
    }
    .phone{
        padding: 6px 10px 6px 18px;
    }

    .right-span-t{
        margin-left: 100px;
    }
    .right-span{
        margin-left: 200px;
    }
    .input-wrapper input[type="number"]{
        width: 90%;
    }
    .list-group-item::before{
        margin-left: 0px !important;
    }
    .accordion-body{
        width: 202%;
        padding: 0px !important;
        
    }
    .header__right-circle{
        margin-top: 231px;
        top: unset !important;
        margin-left: -149px;
    }
    .header__info-btn,
    .header__info-description{
        z-index: 1;
    }

    .header__right-content{
        z-index: 1;
        margin-top: -358px;
    }
    .header__info-description{
        background: var(--white);
        border-radius: 10px;
        padding: 10px;
        font-weight: 600;
    }
    .headermain-bg {
        width: 100%;
        margin-top: 261px;
        margin-left: -546px;
    }

    .credit-btn{
        padding: 27px 9px 24px !important;
    }

}

@media screen and (min-width: 576px) and (max-width: 767px){
    .container, .container-sm {
        max-width: 540px;
    }
    .pc-navbar{
        display: none;
    }
    .hidden-navbar{
        display: block;
    }
    .offcanvas-header,
    .navbar{
        background: var(--white-two);
        opacity: 0.9;
    }
    .offcanvas, .offcanvas-end, .show{

       
        background: var(--white-two) !important;
    }
    .navbar-nav,.justify-content-end {
        justify-content: flex-start !important;
        flex-direction: column !important;
    }
    .header-contact{
        display: flex;
        position: relative;
        left: 3%;
        align-items: center;
    }
    .nav-link{
        padding-right: 25px !important;
        font-size: 20px;
    }
    .navbar-phone{
        font-size: 15px;
        margin-left: 8px !important;
    }  
    .pledge-list{
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        grid-gap: 60px;
    }
    .pledge-items{
        margin-right: 0px;
    }
    .main-title::after{
        left: 47.5%;
    }
    .privilege-cards{
        grid-template-columns: repeat(2, 1fr);
    }
    .document-cards{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 48px;
    }
    .document-card{
        max-width: 453px    ;
    }
    .document__card-title{
        margin-left: 8px;
    }
    .document__img-right {
        left: 43%;
    }
    
    .list-group-item::before{
        margin-right: 18px;
        margin-left: 0px;
    }
    
    .document-title::after {
        top: 6.7%;
    }
    .question__list-title{
        width: 92% !important;
        font-size: 12px;
    }
    .content__left-title{
        font-size: 44px;
        line-height: 47px;
    }
    .list-group-item:nth-of-type(6){
        max-width: 795px !important;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .client__review-description{
        max-width: 395px;
        font-size: 14px;
    }
    .header__info-btn{
        padding: 24px 40px;
    }
    .client__review-bgf{
        bottom: 60%;
    }
    .client-title {
        font-size: 13px;
        line-height: 20px;
        margin-right: -23px;
    }


    .swiper-button-next {
        right: 20px;
        top: 59%;
    }
    .swiper-button-prev{
        left: 20px;
        top: 59%;
    }
    .client__review-bgb{
        bottom: 16%;
    }

    .certificate-box{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 33px 64px;
    }
    .certificate-file{
        max-width: 135px;
        height: 165px;
    }
    .header__info-description{
        background-color: var(--white);
        padding: 10px;
        border-radius: 10px;
        opacity: 0.95;
        width: 240% !important;
        font-size: 16px;    
    }
    .content__main-bg{
        top: 80% !important;
    }

    .header__right-content{
        margin-left: 0px;
        top: 7%;
    }
    .header__right-circle{
        top: 81%;
        left: 33%;
    }
    .content__secondary-bg {
        width: 45%;
        top: 105%;
    }
    .content__main-bg{
        top: 80%;
        width: 100%;
    }
    .main-bg{
        width: 50%;
        position: absolute;
        
    }
    .card-description,
    .card-title{
        font-size: 12px;
    }
    .footer-subtitle,
    .footer__sub-subtitle{
        margin-top: 0px;
        font-size: 12px;
        line-height: 36px;
    }
    .footer-title{
        font-size: 13px;
    }

    .list-group-item::before{
        margin-left: 0px;
    }

    .main-btn{
        width: 219px;
    }

    .main-title::after {
        left: 46.5%;
    }
    .privilege-cards {
        margin-left: 0px !important;
    }

    

    /* ВАШ платеж */

    .content__main-bg{
        top: 53%;
    }

    .input{
        display: flex;
        justify-content: space-around;
    }
    .input-wrapper{
        padding: 4px 0px 21px 28px;
    }
    .input-wrapper input[type="number"]{
        width: 60%;
    }
    .title{
        font-size: 15px;
    }
    input[type='range'] {
        width: 218px;
        border-radius: 10px;
        height: 0px;
        margin-right: 49px;
    }

    .credit-btn {
        padding: 27px 3px 27px;
        margin-left: 0px;

        font-size: 13px;
    }
    .value {
        font-size: 18px;
    }
    .title-sum {
        font-size: 15px;
    }
    .cost-input-contact{
        margin-top: 60px !important;
    }

    

    .final-results {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 99px;
    }

    .final-result-item {
        margin-bottom: 0px;
        margin-right: 0px;
    }
    .calculator-content-body-right{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    input[type=range]::-webkit-slider-thumb {
        background: var(--purpleish-blue);
        border: 2px solid cyan;
        border-radius: 50%;
        cursor: pointer;
        width:25px;
        height: 25px;
        -webkit-appearance: none;
        
      }
    .main-bg{
        width: 30%;
    }
    .privilege-cards{
        margin-left: 55px;
    }
    ul{
        padding-left: 0px !important;
    }
    .phone{
        padding: 13px 30px 13px;
    }
    .cost-input-contact{
        display: flex;
    }
 
    .right-span-t{
        margin-left: 100px;
    }
    .right-span{
        margin-left: 200px;
    }
    .input-wrapper input[type="number"]{
        width: 90%;
    }
    /* .list-group-item::before{
        display: none !important;
    } */

    .list-group-item::before{
        margin-left: 0px !important;
    }

    .list-group-item:nth-of-type(6)::before{
        position: relative !important;
        top: -10px;
    }
    .accordion-body{
        padding: 0px !important;
        font-size: 11px;
    }

    .navbar-nav{
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .header__right-circle{
        margin-top: 315px;
        top: unset !important;
        margin-left: -55px;
    }
    .header__info-btn,
    .header__info-description{
        z-index: 1;
    }

    .header__right-content{
        z-index: 1;
        margin-top: -358px;
    }
    .header__info-description{
        background: var(--white);
        border-radius: 10px;
        padding: 10px;
        font-weight: 600;
    }
    .headermain-bg {
        width: 100%;
        margin-top: 262px;
        margin-left: -359px;
    }

    .credit-btn{
        padding: 27px 9px 24px !important;
    }
}


@media screen and (min-width: 375px) and (max-width: 575px){
    
    .pc-navbar{
        display: none !important;
    }
    .hidden-navbar{
        display: block;
    }
    .offcanvas-header,
    .navbar{
        background: var(--white-two);
        opacity: 0.9;
    }
    .offcanvas, .offcanvas-end, .show{

        background: var(--white-two) !important;
    }
    .navbar-nav,.justify-content-end {
        justify-content: flex-start !important;
        flex-direction: column !important;
    }
    .header-contact{
        display: flex;
        position: relative;
        left: 22%;
        align-items: center;
    }
    
    .nav-link{
        padding-right: 0px !important;
        font-size: 17px;
    }
    .navbar-phone{
        font-size: 17px;
        margin-left: 8px !important;
    }  
    .pledge-list{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-gap: 80px !important;
    }
    .pledge-items{
        margin-right: 0px;
    }
    .main-title::after{
        left: 47.5%;
    }
    .privilege-title::after{
        top: 2%;
    }

    .header__right-title{
        font-size: 16px;
        line-height: 16px;
    }
    .privilege-cards{
        flex-direction: column;
        display: flex;
        align-items: center;
    }
    .privilege-card{
        margin-bottom: 50px;
    }
    .document-cards{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 48px;
    }
    .document-card{
        max-width: 453px;
    }
    .document__card-title{
        margin-left: 26px;
        font-size: 12px;
    }
    .document__img-right {
        left: 54%;
        width: 40%;
    }
    .document__img-bg {
        left: 5%;
        width: 43%;
    }
    .document-bg-right {
        right: 0%;
        top: -6%;
        width: 43%;
    }

    .header__info-btn{
        top: 75% !important ;
    }
    .main-btn{
        width: 210px;
        padding: 17px 0;
        font-size: 12px;
    }
    .pledge-title {
        width: 340px;
    }

    .main-title{
        font-size: 35px;
        line-height: 39px;
    }
    .main-title::after{
        left: 43.5%;
    }

    
    .list-group-item::before{
        margin-right: 7px;
        margin-left: -21px;
    }
    
    .document-title::after {
        top: 6.7%;
    }
    .question__list-title{
        font-size: 12px;
        line-height: 31px;
    }
    .content__left-title{
        font-size: 29px;
        line-height: 35px;
        margin-top: 34px;
    }
    .text-style-1 {
        font-size: 48px;
    }
    .text-style-2 {
        font-size: 32px;
    }
    .list-group-item:nth-of-type(6){
        max-width: 795px !important;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .client__review-description{
        max-width: 214px;
        font-size: 11px;
        line-height: 13px;
    }
    .header__info-btn{
        padding: 21px 22px;
        top: 70% !important; 
    }
    .client__review-bgf{
        display: none;
    }
    .client-title {
        font-size: 10px;
        line-height: 12px;
        margin-right: -23px;
    }
    .client__review-bgb{
        display: none;
    }
    .client-description{
        width: 58%;
        margin-bottom: 22px;
        margin-top: 22px;
      
    }

    .content__left-title{
        font-size: 41px;
    }
    
    .certificate-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 28px 30px;
        margin-top: 71px;
    }
    .slider-top{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 0px;
    }
    .certificate-file{
        max-width: 97px;
        height: 145px;
    }
    .header__info-btn{
        top: 0% !important;
    }
    .content__main-bg{
        top: 53%;
    }

    .header__right-content{
        margin-left: 0px;
        top: 4% !important;
        right: 7% !important;
        border-radius: 12px;
        width: 112px;
        height: 112px;
    }
    .header__title-right{
        display: none;
    }
    .header__right-circle{
        display: none;
    }
    .content__secondary-bg {
        width: 42%;
        top: 133%;
    }
    .content__main-bg{
        top: 83%;
        width: 100%;
    }
    .main-bg{
        width: 50%;
        position: absolute;
        
    }
    .card-description,
    .card-title{
        font-size: 12px;
        /* margin-top: 0px; */
        
        line-height: 17px;
    }
    .privilege__card-bg{
        width: 28%;
        left: 67%;
    }

    .footer__content-info{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-columns: 40vh;
        grid-gap: 10px 10px;

    }

    .footer-subtitle,
    .footer__sub-subtitle{
        margin-top: 0px;
        font-size: 12px;
        line-height: 36px;
    }
    .footer-title{
        font-size: 13px;
    }
    .footer__copy-description{
        font-size: 12px;
        line-height: 20px;

    }
    .header__info-right{
        display: block;
    }
    .footer__copy-descriptions{
        font-size: 12px;
    }
    ul{
        padding-left: 0px !important;
    }

    .main-description{
        font-size: 15px;
    }
    
    /* ВАШ платеж */

    .content__main-bg{
        top: 83px%;
    }

    .input{
        width: 100%;
    }
    
    .input-wrapper input[type="number"]{
        width: 100%;
    }
    .title{
        font-size: 15px;
    }
    input[type='range'] {
        width: 100%;
        border-radius: 10px;
        height: 0px;
        
    }

    .credit-btn {
        padding: 27px 3px 27px;
        margin-left: 0px;

        font-size: 13px;
    }
    .value {
        font-size: 18px;
    }
    .title-sum {
        font-size: 15px;
    }
    .cost-input-contact{
        margin-top: 60px !important;
    }
    .nav__logo{
        width: 80% !important;
    }

    .input-wrapper{
        padding: 10px;
    }

    .final-results {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 23px;
    }

    .final-result-item {
        margin-bottom: 0px;
        margin-right: 0px;
    }
    .calculator-content-body-right{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    input[type=range]::-webkit-slider-thumb {
        background: var(--purpleish-blue);
        border: 2px solid cyan;
        border-radius: 50%;
        cursor: pointer;
        width:25px;
        height: 25px;
        -webkit-appearance: none;
        
    }
    .main-bg{
        width: 30%;
    }
    
    .headermain-bg {
        
        display: none !important;
    }

    .list-group-item::before{
        margin-left: 0px !important;
    }

    .list-group-item:nth-of-type(6)::before{
        position: relative !important;
        top: -10px;
    }
    .accordion-body{
        padding: 0px !important;
        font-size: 11px;
    }

    .navbar-nav{
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .header__right-circle{
        margin-top: 315px;
        top: unset !important;
        margin-left: -55px;
    }
    .header__info-btn,
    .header__info-description{
        z-index: 1;
    }

    .header__right-content{
        z-index: 1;
        margin-top: -358px;
    }
    .header__info-description{
        background: var(--white);
        border-radius: 10px;
        padding: 10px;
        font-weight: 600;
    }

    .credit-btn{
        padding: 27px 9px 24px !important;
    }


    ul{
        padding-left: 0px !important;
    }
    .phone{
        padding: 13px 30px 13px;
        margin-bottom: 40px;
    }
    .cost-input-contact{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .calculator-body{
        flex-direction: column;
    }
    .content-span{
        justify-content: space-between;
    }

    .right-span-t{
        margin-left: 0px !important;
    }
    .right-span{
        margin-left: 0px !important;
    }
    .list-group-item::before{
        display: none !important;
    }
}


@media screen and (min-width: 320px) and (max-width: 374px){
    
    .main-description{
        font-size: 13px !important;
    }

    .pc-navbar{
        display: none !important;
    }
    .hidden-navbar{
        display: block;
    }
    .offcanvas-header,
    .navbar{
        background: var(--white-two);
        opacity: 0.9;
    }
    .offcanvas, .offcanvas-end, .show{

        width: 80% !important;
        background: var(--white-two) !important;
    }
    .navbar-nav,.justify-content-end {
        justify-content: flex-start !important;
        flex-direction: column !important;
    }
    .header-contact{
        display: flex;
        position: relative;
        left: 3%;
        align-items: center;
    }
    .nav-link{
        padding-right: 0px !important;
        font-size: 15px;
    }
    .navbar-phone{
        font-size: 17px !important;
        margin-left: 8px !important;
    }  
    .pledge-list{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-gap: 50px !important;

    }
    .pledge-items{
        margin-right: 0px;
    }
    .main-title::after{
        left: 47.5%;
    }
    .privilege-title::after{
        top: 2%;
    }
    .privilege-cards{
        flex-direction: column;
        display: flex;
        align-items: center;
    }
    .privilege-card{
        margin-bottom: 50px;
        max-width: 241px;
    }
    .document-cards{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 48px;
    }
    .document-card{
        max-width: 453px;
    }
    .document__card-title{
        margin-left: 8px;
        font-size: 12px;
    }
    .document__img-right {
        left: 54%;
        width: 40%;
    }
    .document__img-bg {
        left: 5%;
        width: 43%;
    }
    .document-bg-right {
        right: 0%;
        top: -6%;
        width: 43%;
    }
    .document-bg-id {
        width: 31%;
    }
    .main-btn{
        width: 160px;
        padding: 17px 0;
        font-size: 12px;
    }
    .pledge-title {
        width: 340px;
    }

    .main-title{
        font-size: 35px;
        line-height: 39px;
    }
    .main-title::after{
        left: 43.5%;
    }

    
    .list-group-item::before{
        margin-right: 7px;
        margin-left: -21px;
    }
    
    .document-title::after {
        top: 6.7%;
    }
    .question__list-title{
        font-size: 10px;
        line-height: 31px;
    }
    .content__left-title{
        font-size: 34px;
        line-height: 35px;
        margin-top: 34px;
    }
    .text-style-1 {
        font-size: 48px;
    }
    .text-style-2 {
        font-size: 32px;
    }
    .list-group-item:nth-of-type(6){
        max-width: 795px !important;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .client__review-description{
        max-width: 214px;
        font-size: 11px;
        line-height: 13px;
    }
    .header__info-btn{
        padding: 21px 22px;
        top: 24%;
    }
    .client__review-bgf{
        display: none;
    }
    .client-title {
        font-size: 10px;
        line-height: 12px;
        margin-right: -23px;
    }
    .client__review-bgb{
        display: none;
    }
    .client-description{
        width: 58%;
        margin-bottom: 22px;
        margin-top: 22px;
      
    }
    
    .certificate-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 28px 30px;
        margin-top: 71px;
    }
    .slider-top{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 0px;
    }
    .certificate-file{
        max-width: 97px;
        height: 145px;
    }
    .header__info-description{
        display: none;
            
    }
    .content__main-bg{
        display: none;
    }
    .header__info-btn{
        top: 59%;
    }

    .header__right-content{
        margin-left: 0px;
        top: 4% !important;
        right: 7% !important;
        border-radius: 12px;
        width: 112px;
        height: 112px;
    }
    .header__right-title{
        line-height: 17px;
        font-size: 17px;
    }
    .header__right-circle{
        display: none;
    }
    .content__secondary-bg {
        display: none;
    }
    .content__main-bg{
        top: 93%;
        width: 100%;
    }
    .main-bg{
        width: 40% !important;
        position: absolute;
        
    }
    .card-description,
    .card-title{
        font-size: 12px;
        /* margin-top: 0px; */
        
        line-height: 17px;
    }
    .privilege__card-bg{
        width: 28%;
        left: 67%;
    }

    .footer__content-info{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-columns: 40vh;
        grid-gap: 10px 10px;

    }

    .footer-subtitle,
    .footer__sub-subtitle{
        margin-top: 0px;
        font-size: 12px;
        line-height: 36px;
    }
    .footer-title{
        font-size: 13px;
    }
    .footer__copy-description{
        font-size: 10px;
        line-height: 15px;

    }
    .header__info-right{
        display: block;
    }
    .footer__copy-descriptions{
        font-size: 10px;
        line-height: 15px;
    }
    .navbar__phone-icon{
        width: 14%;
    }
    .navbar-phone{
        font-size: 9px;
    }
    .nav__logo{
        width: 61%;
    }
     /* ВАШ платеж */

     .content__main-bg{
        top: 83px%;
    }

    .input{
        width: 100%;
    }
    
    .input-wrapper input[type="number"]{
        width: 100%;
    }
    .title{
        font-size: 15px;
    }
    input[type='range'] {
        width: 80%;
        border-radius: 10px;
        height: 0px;
        
    }

    .credit-btn {
        padding: 27px 3px 27px;
        margin-left: 0px;

        font-size: 13px;
    }
    .value {
        font-size: 18px;
    }
    .title-sum {
        font-size: 13px;
    }
    .cost-input-contact{
        margin-top: 60px !important;
    }
    .nav__logo{
        width: 80% !important;
    }

    .input-wrapper{
        padding: 10px;
    }

    .final-results {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 23px;
    }

    .final-result-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 0px;
        margin-right: 0px;
    }
    .calculator-content-body-right{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    input[type=range]::-webkit-slider-thumb {
        background: var(--purpleish-blue);
        border: 2px solid cyan;
        border-radius: 50%;
        cursor: pointer;
        width:25px;
        height: 25px;
        -webkit-appearance: none;
        
    }
    .main-bg{
        width: 30%;
    }
    
    .main-title::after{
        left: 41.5%;
    }


    ul{
        padding-left: 0px !important;
    }
    .phone{
        padding: 13px 30px 13px;
        margin-bottom: 40px;
    }
    .cost-input-contact{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .calculator-body{
        flex-direction: column;
    }
    .content-span{
        justify-content: space-between;
    }

    .right-span-t{
        margin-left: 0px !important;
    }
    .right-span{
        margin-left: 0px !important;
    }
    .main-span{
        font-size: 13px;
    }
    .list-group-item::before{
        display: none !important;
    }
    .headermain-bg{
        display: none;
    }
}

/* 
 */
























@media screen and (min-width: 280px) and (max-width: 319px){
    
    .main-description{
        font-size: 13px !important;
    }

    .pc-navbar{
        display: none !important;
    }
    .hidden-navbar{
        display: block;
    }
    .offcanvas-header,
    .navbar{
        background: var(--white-two);
        opacity: 0.9;
    }
    .offcanvas, .offcanvas-end, .show{

        width: 80% !important;
        background: var(--white-two) !important;
    }
    .navbar-nav,.justify-content-end {
        justify-content: flex-start !important;
        flex-direction: column !important;
    }
    .header-contact{
        display: flex;
        position: relative;
        left: 3%;
        align-items: center;
    }
    .nav-link{
        padding-right: 0px !important;
        font-size: 15px;
    }
    .navbar-phone{
        font-size: 17px !important;
        margin-left: 8px !important;
    }  
    .pledge-list{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-gap: 10px !important;

    }
    .pledge-items{
        margin-right: 0px;
    }
    .main-title::after{
        left: 47.5%;
    }
    .privilege-title::after{
        top: 2%;
    }
    .privilege-cards{
        flex-direction: column;
        display: flex;
        align-items: center;
    }
    .privilege-card{
        margin-bottom: 50px;
        max-width: 241px;
    }
    .document-cards{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 48px;
    }
    .document-card{
        max-width: 453px;
    }
    .document__card-title{
        margin-left: 15px;
        font-size: 10px;
    }
    .document__img-right {
        left: 54%;
        width: 40%;
    }
    .document__img-bg {
        left: 5%;
        width: 43%;
    }
    .document-bg-right {
        right: 0%;
        top: -6%;
        width: 43%;
    }
    .document-bg-id {
        width: 31%;
    }
    .main-btn{
        width: 160px;
        padding: 17px 0;
        font-size: 12px;
    }
    .pledge-title {
        width: 340px;
    }

    .main-title{
        font-size: 35px;
        line-height: 39px;
    }
    .main-title::after{
        left: 43.5%;
    }

    
    .list-group-item::before{
        display: none;
    }
    
    .document-title::after {
        top: 6.7%;
    }
    .question__list-title{
        font-size: 10px;
        line-height: 31px;
    }
    .content__left-title{
        font-size: 34px;
        line-height: 35px;
        margin-top: 34px;
    }
    .text-style-1 {
        font-size: 48px;
    }
    .text-style-2 {
        font-size: 32px;
    }
    .list-group-item:nth-of-type(6){
        max-width: 795px !important;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .client__review-description{
        max-width: 214px;
        font-size: 11px;
        line-height: 13px;
    }
    .header__info-btn{
        padding: 21px 22px;
        top: 24%;
    }
    .client__review-bgf{
        display: none;
    }
    .client-title {
        font-size: 10px;
        line-height: 12px;
        margin-right: -23px;
    }
    .client__review-bgb{
        display: none;
    }
    .client-description{
        width: 58%;
        margin-bottom: 22px;
        margin-top: 22px;
      
    }
    
    .certificate-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 28px 30px;
        margin-top: 71px;
    }
    .slider-top{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 0px;
    }
    .certificate-file{
        max-width: 97px;
        height: 145px;
    }
    .header__info-description{
        display: none;
            
    }
    .content__main-bg{
        display: none;
    }
    .header__info-btn{
        top: 59%;
    }

    .header__right-content{
       display: none !important;
    }
    .header__right-title{
        line-height: 17px;
        font-size: 17px;
    }
    .header__right-circle{
        display: none;
    }
    .content__secondary-bg {
        display: none;
    }
    .content__main-bg{
        top: 93%;
        width: 100%;
    }
    .main-bg{
        width: 40% !important;
        position: absolute;
        
    }
    .card-description,
    .card-title{
        font-size: 12px;
        /* margin-top: 0px; */
        
        line-height: 17px;
    }
    .privilege__card-bg{
        width: 28%;
        left: 67%;
    }

    .footer__content-info{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-columns: 40vh;
        grid-gap: 10px 10px;

    }

    .footer-subtitle,
    .footer__sub-subtitle{
        margin-top: 0px;
        font-size: 12px;
        line-height: 36px;
    }
    .footer-title{
        font-size: 13px;
    }
    .footer__copy-description{
        font-size: 10px;
        line-height: 15px;

    }
    .header__info-right{
        display: block;
    }
    .footer__copy-descriptions{
        font-size: 10px;
        line-height: 15px;
    }
    .navbar__phone-icon{
        width: 14%;
    }
    .navbar-phone{
        font-size: 9px;
    }
    .nav__logo{
        width: 61%;
    }
     /* ВАШ платеж */

     .content__main-bg{
        top: 83px%;
    }

    .input{
        width: 100%;
    }
    
    .input-wrapper input[type="number"]{
        width: 100%;
    }
    .title{
        font-size: 13px;
    }
    input[type='range'] {
        width: 70%;
        border-radius: 10px;
        height: 0px;
        
    }

    .credit-btn {
        padding: 27px 3px 27px;
        margin-left: 0px;

        font-size: 13px;
    }
    .value {
        font-size: 18px;
    }
    .title-sum {
        font-size: 13px;
    }
    .cost-input-contact{
        margin-top: 60px !important;
    }
    .nav__logo{
        width: 80% !important;
    }

    .input-wrapper{
        padding: 10px;
    }

    .final-results {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 23px;
    }

    .final-result-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 0px;
        margin-right: 0px;
    }
    .calculator-content-body-right{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    input[type=range]::-webkit-slider-thumb {
        background: var(--purpleish-blue);
        border: 2px solid cyan;
        border-radius: 50%;
        cursor: pointer;
        width:25px;
        height: 25px;
        -webkit-appearance: none;
        
    }
    .main-bg{
        width: 30%;
    }
    
    .main-title::after{
        left: 41.5%;
    }


    ul{
        padding-left: 0px !important;
    }
    .phone{
        padding: 13px 30px 13px;
        margin-bottom: 40px;
    }
    .cost-input-contact{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .calculator-body{
        flex-direction: column;
    }
    .content-span{
        justify-content: space-between;
    }

    .right-span-t{
        margin-left: 0px !important;
    }
    .right-span{
        margin-left: 0px !important;
    }
    .main-span{
        font-size: 13px;
    }
    .navbar-brand-img{
        width: 60% !important;
    }
}