
:root {
    --gilroy-bold: 'Gilroy-Bold';
    --gilroy-Regular: 'Gilroy-Regular';
    --gilroy-Medium: 'Gilroy-Medium';
    --gilroy-SemiBold: 'Gilroy-SemiBold';
    --gilroy-heavy: 'Gilroy-Heavy';
    --gilroy-mediumItalic: 'Gilroy-MediumItalic';
    --gilroy-extraBold: 'Gilroy-ExtraBold';
    --bebasNeue-Regular: 'BebasNeue-Regular';
    --bebasNeue-Light: 'BebasNeue-Light'; 
    --white: #fff;
    --purpleish-blue: #7b41f9;
    --black: #232323;
    --black-two: #383838;
    --black-50: rgba(35, 35, 35, 0.5);
    --white-two: #f4f4f4;
}


/* 
@media screen and (max-width: 1025px) {
    .nav-link{
        font-size: 15px;
        padding-right: 27px !important;
    }
   
    .navbar-brand{
        margin-right: 42px;
    }
    .navbar-phone{
        font-size: 15px;
    }
    .pledge-list{
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }
    .pledge-items{
        margin-bottom: 30px;
    }
    .pledge-items:nth-of-type(4){
        margin-right: 0px;
    }
    .header__info-description{
        background-color: white;
        padding: 10px;
        border-radius: 10px;
        opacity: 0.95;
    }
    .content__main-bg{
        top: 53%;
    }
    .privilege__card-img{
        width: 59px;
        height: 52px;
    }
    .main-title::after{
        left: 47.5%;
    }
  

    .card-title{
        font-size: 14px;
    }

    .document__card-title{
        margin-left: 10px;
    }
    .document__img-right {
        left: 42%;
    }
    .header__info-btn{
        top: 15%;
    }
    .document-bg-right {
        
        position: absolute;
        right: -4%;
        top: -25%;
    }
    header{
        padding-bottom: 142px;
    }
    .partner-title::after {
        top: 14%;
        left: 47.5%;
    }
    
    .content__secondary-bg{
        top: 93%;
    }

    .list-group-item:nth-of-type(6){
        max-width: 795px !important;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .swiper {
        
        padding: 0 28px;
       
    }
    .client__review-bgb {
        position: absolute;
        right: 0%;
        bottom: 40%;
    }
    .client__review-bgf {
        position: absolute;
        bottom: 61%;
    }

}

mobile
@media (max-width: 995px) {
    .document-cards{
        width: 100%;
    }
    .pc-navbar{
        display: none;
    }
    .hidden-navbar{
        display: block;
    }
    .offcanvas-header,
    .navbar{
        background: var(--white-two);
        opacity: 0.9;
    }
    .offcanvas, .offcanvas-end, .show{

        width: 50% !important;
        background: var(--white-two) !important;
    }
    .navbar-nav,.justify-content-end {
        justify-content: flex-start !important;
        flex-direction: column !important;
    }
    .header-contact{
        display: flex;
        
        position: relative;
        left: 25%;
        align-items: center;
    }
    .content__main-bg{
   
        width: 100%;
        left: 10%;
        top: 66%;

    }

    .content__secondary-bg{
        width: 35%;
        left: 61%;
        top: 103%;
    }
    .header__info-btn {
        top: 0%;
    }
    .pledge-items{
        margin-right: 0px;
    }
    .pledge-list{
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        grid-gap: 10%;
    }
    .header__right-circle {
        left: 10%;
        top: 76%;
    }
    .header__right-content {
        top: 50%;
        left: 10%;
        margin-top: 0px;
        margin-left: 0px;
    }
    .card-title{
        font-size: 9px;
    }
    .card-description{
        font-size: 10px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .privilege__card-bg {
        width: 50%;
    }
    .document-cards {
        display: flex !important;
        flex-direction: column !important;
        align-items: center;
    }
    .document-card {
        margin-bottom: 40px;
    }

    .question__list-title{
        font-size: 13px;
    }
    .certificate-file {
        max-width: 150px;
        width: 100%;
        height: 240px;
    }
    .footer-title,
    .footer-subtitle,
    .footer__sub-subtitle,
    .footer__copy-description{
        font-size: 13px;
    }

}
/* 
@media screen and (max-width: 769px) and (max-width:767px) {
    .content__main-bg{
        left: 0;
        top: 83%;
    }

    .client__review-bgf {
       
        bottom: 50%;
    }
    .client__review-bgb {
        
        bottom: 18%;
    }
    .header-contact {
        
        left: 17%;
    
    }
    .header__right-content {
        top: 47%;
        left: -19%;
        width: 153px;
        height: 153px;
       


    }
    .header__right-title {
        position: relative;
        line-height: 31px;
        font-size: 14px;
    }
    .client-title {
        font-size: 10px;
        line-height: 21px;
        margin-right: 25px;
    }
    .client-description {
        margin: 0px 3px;
    }
    .client__review-description {
        max-width: 990px;
        width: 100%;
        font-family: var(--gilroy-mediumItalic);
        text-align: center;
        line-height: 21px;
        font-size: 11px;
        color: var(--black-two);
        position: relative;
        z-index: 1;
    }
    .client__review-bgb {
        bottom: 48%;
        width: 10%;
    }
    .client__review-bgf {
        width: 10%;
        bottom: 50%;
    }
    .footer-subtitle, .footer__sub-subtitle {
        font-family: var(--gilroy-Regular);
        font-size: 9px;
        color: var(--white);
        line-height: 18px;
        text-align: left;
    }
    .footer-icon {
        font-size: 22px;
        margin-right: 8px;
    }
    .footer-rights{
        font-size: 13px;
    }
    .question__list-title {
        font-size: 9px;
    }
    .card-description{
        line-height: 12px;
    }
} */

/* @media screen and (max-width: 845px) {
    .content__main-bg{
        left: 0;
    }

    .client__review-bgf {
       
        bottom: 67%;
    }
    .client__review-bgb {
        
        bottom: 48%;
    }
    .header-contact {
        
        left: 17%;
    
    }
} */ 


/* @media (max-width: 1220px) {

    .container{
        max-width: 970px;
    }
    .nav-link {
        font-size: 15px;
        line-height: 23px;
        letter-spacing: normal;
        text-align: left;
        color: var(--black) !important;
        font-family: var(--gilroy-bold) !important;
        padding-right: 20px !important;
    }
    .navbar-phone {
        font-size: 18px;
        font-family: var(--gilroy-extraBold);
        line-height: 15px;
        color: var(--black);
        margin-left: 7px;
    }
    
}
@media (max-width: 992px) {

    .container{
        max-width: 750px;
    }
    
}
@media (max-width: 767px) {

    .container{
        max-width: none;
    }
    .pc-navbar{
        display: none;
    }
    .hidden-navbar{
        display: block;
    }
    
} */


@media screen and (min-width: 1400px) and (max-width: 1888px) {
    
    .container{
        max-width: 1220px;
    }

    .navbar-phone{
        font-size: 22px;
        font-family: var(--gilroy-extraBold);
        line-height: 15px;
        color: var(--black);
        margin-left: 10px;
    }
    .nav-link{     
        margin-right: 45px;
        padding-right: 100px !important;
    }
    
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
    
    .nav-link{
        padding-right: 42px !important;
    }

    .privilege-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 114px 89px
    }
    .card-title{
        font-size: 17px;
    }
    .list-group-item:nth-of-type(6){
        max-width: 795px !important;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}

@media screen and (min-width: 992px) and (max-width: 1200px){
    .container, .container-lg, .container-md, .container-sm {
        max-width: 960px;
    }
    .nav-link{
        padding-right: 25px !important;
        font-size: 15px;
    }
    .navbar-phone{
        font-size: 15px;
        margin-left: 8px !important;
    }  
    .pledge-list{
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        grid-gap: 60px;
    }
    .pledge-items{
        margin-right: 0px;
    }
    .main-title::after{
        left: 47.5%;
    }
    .privilege-cards{
        grid-template-columns: repeat(2, 1fr);
    }
    .document-cards{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 48px;
    }
    .document-title::after {
        top: 6.7%;
    }
    .list-group-item:nth-of-type(6){
        max-width: 795px !important;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .client__review-description{
        max-width: 780px;
    }
    .client__review-bgf{
        bottom: 60%;
    }
    .client__review-bgb{
        bottom: 39%;
    }
    .certificate-file{
        max-width: 195px;
        height: 275px;
    }
    .header__info-description{
        background-color: var(--white);
        padding: 10px;
        border-radius: 10px;
        opacity: 0.95;
    }
    .content__main-bg{
        top: 53%;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px){
    .container, .container-md, .container-sm {
        max-width: 720px;
    }
    .pc-navbar{
        display: none;
    }
    .hidden-navbar{
        display: block;
    }
    .offcanvas-header,
    .navbar{
        background: var(--white-two);
        opacity: 0.9;
    }
    .offcanvas, .offcanvas-end, .show{

        width: 50% !important;
        background: var(--white-two) !important;
    }
    .navbar-nav,.justify-content-end {
        justify-content: flex-start !important;
        flex-direction: column !important;
    }
    .header-contact{
        display: flex;
        position: relative;
        left: 17%;
        align-items: center;
    }
    .nav-link{
        padding-right: 25px !important;
        font-size: 15px;
    }
    .navbar-phone{
        font-size: 15px;
        margin-left: 8px !important;
    }  
    .pledge-list{
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        grid-gap: 60px;
    }
    .pledge-items{
        margin-right: 0px;
    }
    .main-title::after{
        left: 47.5%;
    }
    .privilege-cards{
        grid-template-columns: repeat(2, 1fr);
    }
    .document-cards{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 48px;
    }
    .document-title::after {
        top: 6.7%;
    }
    .question__list-title{
        font-size: 14px;
    }
    .list-group-item:nth-of-type(6){
        max-width: 795px !important;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .client__review-description{
        max-width: 600px;
        font-size: 14px;
    }
    .client__review-bgf{
        bottom: 60%;
    }
    .client-title {
        font-size: 13px;
        line-height: 20px;
        margin-right: -23px;
    }
    .client__review-bgb{
        bottom: 39%;
    }
    .certificate-file{
        max-width: 135px;
        height: 210px;
    }
    .header__info-description{
        background-color: var(--white);
        padding: 10px;
        border-radius: 10px;
        opacity: 0.95;
    }
    .content__main-bg{
        top: 53%;
    }

    .header__right-content{
        margin-left: 8px;
        margin-top: 107px;
    }
    .header__right-circle{
        top: 50%;
    }
    .content__secondary-bg {
        width: 45%;
        top: 98%;
    }
    .content__main-bg{
        top: 66%;
        width: 100%;
    }
    .main-bg{
        width: 50%;
        position: absolute;
        
    }
    .card-description,
    .card-title{
        font-size: 15px;
    }
    .footer-subtitle,
    .footer__sub-subtitle{
        margin-top: 0px;
        font-size: 12px;
        line-height: 36px;
    }
    .footer-title{
        font-size: 13px;
    }

}

@media screen and (min-width: 576px) and (max-width: 767px){
    .container, .container-sm {
        max-width: 540px;
    }
    .pc-navbar{
        display: none;
    }
    .hidden-navbar{
        display: block;
    }
    .offcanvas-header,
    .navbar{
        background: var(--white-two);
        opacity: 0.9;
    }
    .offcanvas, .offcanvas-end, .show{

        width: 50% !important;
        background: var(--white-two) !important;
    }
    .navbar-nav,.justify-content-end {
        justify-content: flex-start !important;
        flex-direction: column !important;
    }
    .header-contact{
        display: flex;
        position: relative;
        left: 3%;
        align-items: center;
    }
    .nav-link{
        padding-right: 25px !important;
        font-size: 15px;
    }
    .navbar-phone{
        font-size: 15px;
        margin-left: 8px !important;
    }  
    .pledge-list{
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        grid-gap: 60px;
    }
    .pledge-items{
        margin-right: 0px;
    }
    .main-title::after{
        left: 47.5%;
    }
    .privilege-cards{
        grid-template-columns: repeat(2, 1fr);
    }
    .document-cards{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 48px;
    }
    .document-card{
        max-width: 453px    ;
    }
    .document__card-title{
        margin-left: 8px;
    }
    .document__img-right {
        left: 43%;
    }
    
    .list-group-item::before{
        margin-right: 18px;
        margin-left: 0px;
    }
    
    .document-title::after {
        top: 6.7%;
    }
    .question__list-title{
        font-size: 12px;
    }
    .content__left-title{
        font-size: 44px;
        line-height: 47px;
    }
    .list-group-item:nth-of-type(6){
        max-width: 795px !important;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .client__review-description{
        max-width: 600px;
        font-size: 14px;
    }
    .header__info-btn{
        padding: 24px 40px;
    }
    .client__review-bgf{
        bottom: 60%;
    }
    .client-title {
        font-size: 13px;
        line-height: 20px;
        margin-right: -23px;
    }
    .client__review-bgb{
        bottom: 39%;
    }
    .certificate-file{
        max-width: 135px;
        height: 210px;
    }
    .header__info-description{
        background-color: var(--white);
        padding: 10px;
        border-radius: 10px;
        opacity: 0.95;
        width: 240% !important;
        font-size: 16px;    
    }
    .content__main-bg{
        top: 53%;
    }

    .header__right-content{
        margin-left: 0px;
        top: 7%;
    }
    .header__right-circle{
        top: 81%;
        left: 33%;
    }
    .content__secondary-bg {
        width: 45%;
        top: 105%;
    }
    .content__main-bg{
        top: 80%;
        width: 100%;
    }
    .main-bg{
        width: 50%;
        position: absolute;
        
    }
    .card-description,
    .card-title{
        font-size: 12px;
    }
    .footer-subtitle,
    .footer__sub-subtitle{
        margin-top: 0px;
        font-size: 12px;
        line-height: 36px;
    }
    .footer-title{
        font-size: 13px;
    }
}


@media screen and (min-width: 375px) and (max-width: 577px){
    
    .pc-navbar{
        display: none !important;
    }
    .hidden-navbar{
        display: block;
    }
    .offcanvas-header,
    .navbar{
        background: var(--white-two);
        opacity: 0.9;
    }
    .offcanvas, .offcanvas-end, .show{

        width: 50% !important;
        background: var(--white-two) !important;
    }
    .navbar-nav,.justify-content-end {
        justify-content: flex-start !important;
        flex-direction: column !important;
    }
    .header-contact{
        display: flex;
        position: relative;
        left: 3%;
        align-items: center;
    }
    .nav-link{
        padding-right: 0px !important;
        font-size: 12px;
    }
    .navbar-phone{
        font-size: 11px;
        margin-left: 8px !important;
    }  
    .pledge-list{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-gap: 60px;
    }
    .pledge-items{
        margin-right: 0px;
    }
    .main-title::after{
        left: 47.5%;
    }
    .privilege-title::after{
        top: 2%;
    }
    .privilege-cards{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 40vh;
        grid-gap: 0px 0px;
    }
    .privilege-card{
        margin-bottom: 50px;
    }
    .document-cards{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 48px;
    }
    .document-card{
        max-width: 453px;
    }
    .document__card-title{
        margin-left: 26px;
        font-size: 12px;
    }
    .document__img-right {
        left: 54%;
        width: 40%;
    }
    .document__img-bg {
        left: 5%;
        width: 43%;
    }
    .document-bg-right {
        right: 0%;
        top: -6%;
        width: 43%;
    }
    .main-btn{
        width: 160px;
        padding: 17px 0;
        font-size: 12px;
    }
    .pledge-title {
        width: 340px;
    }

    .main-title{
        font-size: 35px;
        line-height: 39px;
    }
    .main-title::after{
        left: 43.5%;
    }

    
    .list-group-item::before{
        margin-right: 7px;
        margin-left: -21px;
    }
    
    .document-title::after {
        top: 6.7%;
    }
    .question__list-title{
        font-size: 11px;
    }
    .content__left-title{
        font-size: 29px;
        line-height: 35px;
        margin-top: 34px;
    }
    .text-style-1 {
        font-size: 48px;
    }
    .text-style-2 {
        font-size: 32px;
    }
    .list-group-item:nth-of-type(6){
        max-width: 795px !important;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .client__review-description{
        max-width: 214px;
        font-size: 11px;
        line-height: 13px;
    }
    .header__info-btn{
        padding: 21px 22px;
    }
    .client__review-bgf{
        display: none;
    }
    .client-title {
        font-size: 10px;
        line-height: 12px;
        margin-right: -23px;
    }
    .client__review-bgb{
        display: none;
    }
    .client-description{
        width: 58%;
        margin-bottom: 22px;
        margin-top: 22px;
      
    }
    
    .certificate-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 28px 30px;
        margin-top: 71px;
    }
    .slider-top{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 0px;
    }
    .certificate-file{
        max-width: 97px;
        height: 145px;
    }
    .header__info-description{
        background-color: var(--white);
        padding: 10px;
        border-radius: 10px;
        opacity: 0.95;
        width: 240% !important;
        font-size: 16px;    
    }
    .content__main-bg{
        top: 53%;
    }

    .header__right-content{
        margin-left: 0px;
        top: -14%;
        right: 36%;
        width: 135px;
        height: 135px;
    }
    .header__right-title{
        line-height: 17px;
        font-size: 17px;
    }
    .header__right-circle{
        top: 81%;
        left: 33%;
    }
    .content__secondary-bg {
        width: 45%;
        top: 113%;
    }
    .content__main-bg{
        top: 93%;
        width: 100%;
    }
    .main-bg{
        width: 50%;
        position: absolute;
        
    }
    .card-description,
    .card-title{
        font-size: 12px;
        /* margin-top: 0px; */
        
        line-height: 17px;
    }
    .privilege__card-bg{
        width: 28%;
        left: 67%;
    }

    .footer__content-info{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-columns: 40vh;
        grid-gap: 10px 10px;

    }

    .footer-subtitle,
    .footer__sub-subtitle{
        margin-top: 0px;
        font-size: 12px;
        line-height: 36px;
    }
    .footer-title{
        font-size: 13px;
    }
    .footer__copy-description{
        font-size: 12px;
        line-height: 20px;

    }
}